/* 
font-family: "Open Sans", sans-serif; */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #FFFFFF;
    --background-color: #E5E5E5;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.text-h2 {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.text-h3 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.text-h4 {
    font-family: "Oswald", sans-serif;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.text-p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.text-p-reviews {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.header {
    min-height: 740px;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0 0 0;
    margin-bottom: 112px;
}

.logo {
    width: 60px;
    height: 60px;
}

.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger__line {
    display: block;
    height: 3.5px;
    width: 21px;
    background-color: #fff;
    margin-bottom: 3.5px;
}

.burger__line:last-child {
    margin-bottom: 0;
}


.h1 {
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    max-width: 743px;
    margin: 0 auto;
    color: var(--white-color);
}

@media screen and (max-width: 380px) {
    .h1 {
        font-size: 46px;
        line-height: 64px;
    }
}

.h4 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    max-width: 743px;
    margin: 20px auto;
    color: var(--white-color);
}

.about {
    padding-top: 250px;
    min-height: 1080px;
    position: relative;
}

.info {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F7F7F7;
    max-width: 1110px;
    width: 100%;
    min-height: 300px;
    padding: 57px 130px;

}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.about__grid-item {
    text-align: center;
    width: 190px;
}

.about__h4 {
    font-size: 72px;
    color: var(--accent-color);
    font-weight: 500;
    margin-bottom: 5px;
}

.about__h5 {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.about__p {
    font-size: 18px;
    color: var(--gray-color);
    font-weight: 500;
}

@media screen and (max-width: 1280px) {
    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .about__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .info {
        position: relative;
        padding: 30px 0;
    }
}


.project-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.about__flex {
    display: flex;
}

.about__flex-item {
    max-width: 350px;
    margin-right: 30px;
}

.about__flex-item:last-child {
    margin-right: 0px;
}

.project-img {
    margin-bottom: 45px;
}

.rectangle {
    width: 55px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
}

.project-h3 {
    color: var(--dark-color);
    margin-bottom: 13px;
}

.project-p {
    color: var(--gray-color);
}

@media screen and (max-width: 1280px) {
    .about {
        padding: 450px 15px 110px 15px;
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    .about__flex {
        flex-direction: column;
        align-items: center;
    }

    .about__flex-item {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .about__flex-item:last-child {
        margin-bottom: 0;
    }
}

.request {
    min-height: 181px;
    width: 100vw;
    background-color: var(--accent-color);
}

.request__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.request__flex-item {}

.request-h2 {
    font-size: 48px;
    font-style: bold;
    letter-spacing: 0.02em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.request-h3 {
    font-size: 24px;
    font-style: bold;
    letter-spacing: 0.02em;
    color: #fff;
    text-transform: uppercase;
}

.request__button {
    width: 175px;
    height: 49px;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.request__button-h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
    .request__flex {
        padding: 30px;
        gap: 20px;
    }

    .request-h2 {
        font-size: 36px;
    }

    .request-h3 {
        font-size: 24px;
    }

}

@media screen and (max-width: 768px) {
    .request__flex {
        flex-direction: column;
    }

    .request-h2 {
        font-size: 24px;
    }

    .request-h3 {
        font-size: 18px;
    }
}

.services {
    padding: 150px 0;
}

.section__h2,
.services__h4 {
    color: #000;
    text-align: center;
}

.section__h2 {
    margin-bottom: 55px;
}

.services__h4 {
    margin: 0 auto;
    max-width: 172px;
    text-transform: uppercase;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.services__grid-item {
    width: 350px;
    padding: 59px 0;
    background-color: #f7f7f7;
}

.services__icon {
    margin: 0 auto 23px;
}

@media screen and (max-width: 1280px) {
    .services {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .services__grid-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .services__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.portfolio {}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0px;
}

.portfolio__grid-item {
    padding: 0;
    margin: 0;
}

.portfolio__img {}

@media screen and (max-width: 1280px) {
    .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .portfolio__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.question {
    padding-top: 150px;
    padding-bottom: 110px;
}

.question .section__h2 {
    margin-bottom: 50px;
}

.question__items {}

.question__item {}

.question-h3 {
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 33px;
}

.question-h3.opened {
    margin-bottom: 24px;
}

.question-p {
    margin-bottom: 34px;
    color: var(--gray-color);
    max-width: 730px;
}

.question-h3.opened::before,
.question-h3.closed::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../img/arrow-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

.question-h3.opened::before {
    transform: rotate(-90deg);
}

.question-h3.closed+.question-p {
    display: none;
}

@media screen and (max-width: 1280px) {
    .question {
        padding: 150px 15px 110px;
    }
}

.partners {
    padding-top: 100px;
    padding-bottom: 81px;
    background-color: var(--dark-color);
}

.partners__h2 {
    color: var(--white-color);
    text-align: center;
    margin-bottom: 49px;
}

.partners__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partners__item {
    margin-right: 40px;
    margin-bottom: 20px;
    max-width: 170px;
}

.partners__item:nth-child(5n) {
    margin-right: 0;
}

@media screen and (max-width: 1280px) {
    .partners__flex {
        justify-content: center;
    }

    .partners__item {
        margin-right: 10px;
        margin-left: 10px;
    }

    .partners__item:nth-child(5n) {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.reviews {
    padding: 150px 0 144px;
}

.reviews__h2 {
    text-align: center;
    margin-bottom: 60px;
}

.reviews .text-h4 {
    letter-spacing: 0.03em;
}

.reviews__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.reviews__card {
    background-color: #f7f7f7;
    padding: 25px 30px 30px;
    margin-bottom: 35px;
}

.reviews__qoutes {
    font-size: 96px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: -40px;
    color: var(--accent-color);
}

.rewievs__author-accent {
    color: var(--accent-color);
}

@media screen and (max-width: 1280px) {
    .reviews__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .reviews {
        padding: 100px 15px;
    }
}

@media screen and (max-width: 768px) {
    .reviews__grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .reviews__card {
        max-width: 350px;
    }
}

.contacts {
    padding: 100px 0 150px;
}

.contacts__h2 {
    text-align: center;
    margin-bottom: 60px;
}

.contacts__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.contacts__item {
    max-width: 255px;
    text-align: center;
}

.contacts__icon {
    height: 50px;
    width: 50px;
    margin: 0 auto 15px;
}

.contacts__h3 {
    text-transform: uppercase;
}

.contacts__h3-gray {
    color: var(--gray-color);
    margin-bottom: 20px;
}

.contacts__h3-accent {
    color: var(--accent-color);
}

@media screen and (max-width: 1280px) {
    .contacts__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts__item {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contacts__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.footer {
    padding: 30px 0;
    background: var(--dark-color);
    color: var(--white-color);
}

.footer__flex {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {}

.footer__brand {}

@media screen and (max-width: 1280px) {
    .footer {
        padding: 30px 15px;
    }
}

@media screen and (max-width: 768px) {
    .footer__flex {
        flex-direction: column;
        text-align: center;
    }
}